.breadcrumb {
    height: 65px;
    background-color: #fff;
    padding: 0.7rem 20px;
    font-size: 1.75rem;
    border-bottom: 1px solid #a9a9a9;
    border-radius: 0;
}

.content {
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    color: #212529;
}

.btn-toolbar {
    padding-bottom: 20px;
}

.ReactTable .rt-thead.-header {
    box-shadow: none;
    border-bottom-color: #0000001a;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #F4F5F7;
    font-weight: bold;
    height: 45px;
}

.ReactTable .rt-thead .rt-tr {
    text-align: left;
}

.ReactTable .rt-thead .rt-tr .rt-resizable-header-content {
    padding-top: 8px;
    padding-left: 5px;
}
.ReactTable .rt-tbody {
    padding-left: 5px;
}

.pagination-bottom .-pagination{
    border-top-width: 1px;
    box-shadow: none;
}

.tab-content {
    padding-top: 20px;
    padding-left: 18px;
}

.ACBSideNav {
    background-color: #0747A6 !important;
}

.btn-primary {
    background-color: #0747A6;
    border-bottom-color: #0747A6;
    border-left-color: #0747A6;
    border-right-color: #0747A6;
    border-top-color: #0747A6;
}

a {
    color: #0747A6;
}

.table-bordered thead th {
    border-bottom-width: 1px;
    background-color: #F4F5F7;
}

.table .td-header {
    background-color: #F4F5F7;
    font-weight: bold;
    text-align: right;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

.assigned-pax {
    color: #008000;
}

.occupied-seat {
    fill: #EEC7C3 !important;
}

.assigned-seat {
    fill: #008000 !important;
}

.prev-assigned-seat {
    fill: #A9A9A9 !important;
}

.restricted-seat {
    fill: #8B0000 !important;
}

.free-seat {
}

.predicated-seat {
    fill: #D3D3D3 !important;
}

.restricted-seat {
    fill: #8B0000 !important;
}

.seating-info-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    background-color: #F1F0EF;
    padding: 15px;
    border-radius: .5em;
}

.seating-info {
    flex: 1 1 100%;
    text-overflow: ellipsis;
}

.flight-close {
    flex: 0 0 auto;
}